*{
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
.main{
  width: 30%;
  height: 30%;
  border: 1px solid rgb(230, 159, 67);
  padding: 25px;
  margin: 25px;
  border-radius: 5px;
}
.maain{
  width: 35%;
  height: 70%;
  border: 1px solid rgb(230, 159, 67);
  padding: 25px;
  margin: 25px;
  border-radius: 5px;
}

button{
  /* font-size: 20px;
  font-weight: bold; */
  padding: 8px;
  margin: 8px;
  background: rgb(128, 128, 128);
  color:rgb(30, 255, 0);
  cursor: pointer;
  
  
  
} 
span{
  color:red;
  font-size: 25px;
  padding: 5x;
}
li{
  list-style: none;
}
p{
  text-align: justify;
}
input{
  border: 2px solid blue ;
  padding: 10px;
  margin: 10px;
  
  border-radius: 10px;
}